@{
    ViewBag.Title = "O stranici Gladno dijete";
}
<h2>@ViewBag.Title.</h2>


<p><br>
    <br>
    <br>
    Stranica je napravljena u svrhu jednostavnijeg i brzeg narucivanja hrane.<br>
    Stranica sadrzi mnostvo restorana iz cijele Hrvatske, te ponude njihovih jela.<br>
    <br>
    Autor stranice: Igor Farszky<br>
    <br>
    Za sve upite vezane uz samu stranicu, obratite se na e-mail adresu: if47987@fer.hr</p>
