<br><br><br>

@{
    ViewBag.Title = "O stranici Mama, ja sam gladan";
}
<h2>@ViewBag.Title.</h2>


<p><br>
    <br>
    <br>
    Stranica je napravljena u svrhu jednostavnijeg i bržeg naručivanja hrane.<br>
    Stranica sadrži mnoštvo restorana iz cijele Hrvatske, te ponude njihovih jela.<br>
    <br>
    Autor stranice: Igor Farszky<br>
    <br>
    Za sve upite vezane uz samu stranicu, obratite se na e-mail adresu: if47987@fer.hr</p>
